body {
    font-family: arial;
    background-color: aliceblue;
    padding: 40px 0px;
}
h2 {
    font-size: 28px;
    
}
h1 {
    font-size: 36px;
    
}
span {
    color: gray;
   
}
img {
    width: 150px;
    height: 150px;
}

section,
header {
    padding: 10px 60px 20px 60px;
    background-color: white;
    width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}